/*
@import
*/
@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap&family=Zen+Maru+Gothic&display=swap');
/*
Common
*/
$bodyColor: #00a5be;
$mainColor: #4169e1;
$accentColor:#fa527d;

body {
  background-color: $bodyColor;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p {
  text-align: center;
}

button {
  width: auto;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

header {
  background-color: #fff;
  padding: 1rem;
  border-bottom:3px solid #EEE;
  box-shadow:rgba(122, 122, 122, 0.06) 0px 0px 6px 3px;
  .menuBtn {
    float: left;
  }
  .lineChar {
    &::before {
      content: "";
      width: 2.5rem;
      height: .25rem;
      background-color: $mainColor;
      border-radius: 1rem;
      position: absolute;
      top: -.8rem;
    }
    color: $mainColor;
    font-size: 90%;
    position: relative;
    width: 2.5rem;
    text-align: center;
    bottom: -1.5rem;
    font-family: 'Nunito', sans-serif;
    &::after {
      content: "";
      width: 2.5rem;
      height: .2rem;
      background-color: $mainColor;
      border-radius: 1rem;
      position: absolute;

    }
  }
  .logo-img {
    width: 15%;
    // margin: auto;
    margin-right: auto;
    margin-left: calc((50% - 2.5rem));
    transform: translateX(-50%);
  }
}

footer {
  background-color: rgba(255, 255, 255, .4);
  p {
    margin: 0;
  }
}
