@use 'base';

p {
  display: inline-block;
}

.result {
  color: #fff;
  margin-top: 13rem;
  .resultContainer {
    display: block;
    text-align: center;
  }
  .collectNum {
    color: base.$accentColor;
    font-size: 3rem;
  }
  .num {
    font-size: 2rem;
  }
  .shareSNS {
    text-align: center;
    font-size: 1.5rem;
  }
  .share {
    font-size: 1rem;
  }
}
